body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background:
        linear-gradient(217deg, rgba(161, 105, 198, 0.8), rgba(174, 0, 255, 0) 70.71%),
        linear-gradient(127deg, rgba(183, 226, 255, 0.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(217, 231, 236, 0.8), rgba(0,0,255,0) 70.71%);
}

.table {
    /* height: 80%; */
    background: linear-gradient(45deg, rgb(111, 99, 146), rgb(176, 165, 210)) no-repeat;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 4px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr  1.2fr .5fr;
    grid-template-areas: 
        ". dealer" 
        ".  text" 
        "stats player" 
        "betBtn buttons"
        ". logo" 
}

.dealer{ 
    grid-area: dealer;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid white;
    margin: 10px 40px;
}

.dealerHand {
    grid-area: dealer;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.dealerHand > div {
    justify-content: space-evenly;
    margin: 0 .5rem 0 .5rem;
}

.tableText {
    grid-area: text;
    width: 100%;
    height: 100%;
}

 .title {
    display: flex;
    font-family: 'Noto Serif NP Hmong', serif;
    font-size: 2rem;
    margin: auto;
    padding: .3rem;
    align-items: center;
    justify-content: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.dealer_rules {
    position: relative;
    color: black;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    text-align: center;
    padding: .3rem;
}

.message {
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: .3rem;
}

h2 {
    color: rgb(155, 119, 165);
    font-size: 2.5rem;
    text-align: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    margin: 0px;
}

.player {
    grid-area: player;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    margin: 10px 40px;
}

.playerHand {
    grid-area: player;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.playerHand > div {
    justify-content: space-evenly;
    margin: 0 .5rem 0 .5rem;
}

.buttonArea {
    grid-area: buttons;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-evenly;
}

button {
    color: white;
    font-size: 1.2rem;
    height: 4rem; 
    width: 5rem;
    border-radius: 30%;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: rgb(106, 103, 173);
    border: 2px solid rgb(79, 75, 143);
    cursor: pointer;
    box-shadow: 1.5px 5px rgb(62, 59, 112);
}

button:active {
    background-color: rgb(79, 76, 133);
    box-shadow: 0 5px rgb(62, 59, 112);
    transform: translateY(5px);
  }

button:disabled {
    background-color: rgb(79, 76, 133);
    box-shadow: 0 5px rgb(62, 59, 112);
    transform: translateY(5px);
}

.casino {
    grid-area: logo;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: .9rem;  
    color: white; 
    font-weight: 900;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

img {
    height: 3rem;
    width: 3rem;
}

.stats {
    grid-row-start: stats;
    grid-row-end: 5;
    grid-column-start: stats;
    grid-column-end: stats;
    /* border: 2px white solid; */
    bottom: .5fr;
    margin: 25px;
}

.streak {
    grid-row-start: stats;
    grid-column-start: stats;
    grid-column-end: stats;
    display: flex;
    font: 1.2rem;
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    padding: .6rem .6rem;
    margin: 1rem 0rem 0rem 1rem;
    width: 8rem;
    height: fit-content;
    display: inline-block;
    justify-content: space-around;
    border: 1px solid white;
}

ul {
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

.betBtns {
    grid-row-start: betBtn;
    grid-column-start: stats;
    grid-column-end: stats;
    /* grid-area: betBtn; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.betBtns button {
    grid-area: betBtn;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    padding: 2px;
}

.hidden {
    opacity: 0;
}

.betMsg {
    font-size: 1.8rem;
    font-family: 'Noto Serif NP Hmong', serif;
}