body {
    margin: 0;
    padding:  0;
    height: 100%;
    width: 100%;
    background-color: black;
}

section {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    z-index: 1;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(54 105 86);
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;;
    transform: scaleX(1.5)
}

section .table {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    font-family: 'Noto Serif NP Hmong', serif;
    font-size: 2rem;
    margin: auto;
}

.dealer_rules {
    color: black;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
}

.dealer {
    height: 20vh;
    width: 100vh;
    display: flex;
    justify-content: center;
}

.deck {
    height: 6rem;
    width: 4rem;
    border: 4px solid black;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 30%;
}

.player {
    position: absolute;
    margin: 0;
    height: 100vh;
    width: 100vh;
    z-index: 2;
}

.casino {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: .8rem;  
    color: rgb(137 204 181); 
    font-weight: 900;
    position: absolute;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

.circle {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    border: 4px solid black;
    margin: auto;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 2;
}

.buttons {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    margin: auto;
    bottom: 10%;
    left: 75%;
}

button {
    height: 4rem; 
    width: 4rem;
    border-radius: 100%;
    padding: 10px;
    /* margin: 10px; */
    font-family: 'PT Sans Caption', sans-serif;
    background-color: rgb(137 204 181);
    border: 3px solid black;
}

.buttons button + button {
    margin-left: 75%;
    margin-bottom: 0;
}

.buttons button + button + button {
    margin-left: 150%;
}