body {
    margin: 0;
    padding:  0;
    height: 100%;
    width: 100%;
}

.table {
    background: #1F5F5B;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 4px solid black;
}

.dealer{ 
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    height: 40%;
    width: 100%;
}

 .title {
    display: flex;
    font-family: 'Noto Serif NP Hmong', serif;
    font-size: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.dealer_rules {
    position: relative;
    color: black;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.player {
    display: grid;
    grid-template-rows: 4fr 1.5fr .5fr;
    position: relative;
    bottom: 0;
    height: 40%;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.playerHand {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerHand > div {
    height: 5rem; 
    width: 3rem;
    margin: 0 1rem 0 1rem;
    z-index: 2;
}

.buttons {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-evenly;
}

button {
    height: 4rem; 
    width: 5rem;
    border-radius: 30%;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: rgb(114, 187, 163);
    border: 2px solid rgb(93, 142, 124);
    cursor: pointer;
    box-shadow: 1.5px 5px rgb(93, 142, 124)
}

button:active {
    background-color: rgb(86, 156, 130);
    box-shadow: 0 5px rgb(57, 87, 76);
    transform: translateY(5px);
  }

button:disabled {
    box-shadow: 0 5px rgb(57, 87, 76);
    transform: translateY(0px);
}

.casino {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: .9rem;  
    color: rgb(172, 214, 198); 
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}